janssen-ai/n8n/janssen-ai-full-flow.json
{
  "name": "Janssen_AI_Full_Flow",
  "nodes": [
    {
      "id": "webhook_in",
      "name": "1_Webhook_Receive",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 500],
      "parameters": {
        "path": "janssen-ai-incoming",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "normalize",
      "name": "2_Normalize_Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 500],
      "parameters": {
        "jsCode": "// ========================================\n// NODE 2: NORMALIZE INPUT\n// ========================================\n\nconst rawInput = $input.first().json;\nconst body = rawInput.body || rawInput;\n\nfunction containsArabic(text) {\n  return /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF]/.test(text);\n}\n\nfunction normalizeArabic(text) {\n  return text\n    .replace(/[\\u064B-\\u065F\\u0670]/g, '')\n    .replace(/[\\u0622\\u0623\\u0625]/g, '\\u0627')\n    .replace(/[\\u0649]/g, '\\u064A')\n    .replace(/[\\u0629]/g, '\\u0647');\n}\n\nconst userMessage = (body.user_message || body.message || '').trim();\nconst sessionId = body.session_id || 'session_' + Date.now();\nconst channel = ['chat', 'voice', 'whatsapp'].includes(body.channel) ? body.channel : 'chat';\nconst phone = body.phone || null;\nconst metadata = body.metadata || {};\n\nlet language = body.language;\nif (!language || !['ar', 'en'].includes(language)) {\n  language = containsArabic(userMessage) ? 'ar' : 'en';\n}\n\nconst normalizedMessage = language === 'ar' ? normalizeArabic(userMessage) : userMessage.toLowerCase();\n\nreturn {\n  json: {\n    user_message: userMessage,\n    normalized_message: normalizedMessage,\n    session_id: sessionId,\n    channel: channel,\n    language: language,\n    phone: phone,\n    metadata: metadata,\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "detect_intent",
      "name": "3_Detect_Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 500],
      "parameters": {
        "jsCode": "// ========================================\n// NODE 3: DETECT INTENT\n// ========================================\n\nconst input = $input.first().json;\nconst msg = input.user_message;\nconst lang = input.language;\n\nconst intents = [\n  {\n    intent: 'COMPLAINT', agent: 'complaint', priority: 1,\n    ar: ['شكوى', 'مشكلة', 'زعلان', 'مش راضي', 'سيء', 'وحش', 'عايز فلوسي', 'استرجاع', 'غلط', 'كذب', 'نصب'],\n    en: ['complaint', 'problem', 'angry', 'not satisfied', 'bad', 'terrible', 'refund', 'return', 'wrong', 'lied', 'scam']\n  },\n  {\n    intent: 'HUMAN_REQUEST', agent: 'escalation', priority: 2,\n    ar: ['عايز اتكلم مع حد', 'موظف', 'خدمة عملاء', 'بني آدم', 'مدير', 'مسؤول'],\n    en: ['talk to someone', 'human', 'customer service', 'real person', 'manager', 'supervisor']\n  },\n  {\n    intent: 'LEGAL_THREAT', agent: 'escalation', priority: 0,\n    ar: ['محامي', 'قانون', 'شرطة', 'نيابة', 'هنشر', 'فيسبوك', 'سوشيال'],\n    en: ['lawyer', 'legal', 'police', 'court', 'post', 'facebook', 'social media']\n  },\n  {\n    intent: 'WARRANTY', agent: 'warranty', priority: 3,\n    ar: ['ضمان', 'تفعيل الضمان', 'شهادة ضمان', 'تصليح', 'صيانة', 'عيب صناعة'],\n    en: ['warranty', 'guarantee', 'repair', 'maintenance', 'defect']\n  },\n  {\n    intent: 'SALES_PRICE', agent: 'sales', priority: 4,\n    ar: ['سعر', 'بكام', 'كام', 'تكلفة', 'عروض', 'خصم', 'تقسيط', 'اسعار'],\n    en: ['price', 'cost', 'how much', 'offers', 'discount', 'installment']\n  },\n  {\n    intent: 'SALES_RECOMMENDATION', agent: 'sales', priority: 5,\n    ar: ['عايز اشتري', 'عايز مرتبة', 'انصحني', 'افضل', 'اختار', 'مقاسات', 'انواع', 'منتجات'],\n    en: ['buy', 'purchase', 'recommend', 'suggest', 'best', 'sizes', 'types', 'mattress']\n  },\n  {\n    intent: 'DELIVERY', agent: 'support', priority: 6,\n    ar: ['توصيل', 'شحن', 'يوصل امتى', 'مدة التوصيل'],\n    en: ['delivery', 'shipping', 'when arrive', 'delivery time']\n  },\n  {\n    intent: 'STORE_INFO', agent: 'support', priority: 7,\n    ar: ['فين الفرع', 'عنوان', 'مواعيد', 'رقم التليفون', 'فروع'],\n    en: ['store', 'address', 'hours', 'phone', 'branches']\n  }\n];\n\nlet detected = { intent: 'GENERAL_SUPPORT', agent: 'support', confidence: 0.5, matched: [], priority: 99 };\n\nfor (const def of intents) {\n  const keywords = lang === 'ar' ? def.ar : def.en;\n  const matches = keywords.filter(k => msg.includes(k));\n  if (matches.length > 0 && def.priority < detected.priority) {\n    detected = {\n      intent: def.intent,\n      agent: def.agent,\n      confidence: Math.min(0.95, 0.5 + (matches.length * 0.15)),\n      matched: matches,\n      priority: def.priority\n    };\n  }\n}\n\nreturn {\n  json: {\n    ...input,\n    intent: detected.intent,\n    target_agent: detected.agent,\n    confidence: detected.confidence,\n    matched_keywords: detected.matched\n  }\n};"
      }
    },
    {
      "id": "router",
      "name": "4_Agent_Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 500],
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "sales", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.target_agent }}", "rightValue": "sales", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "support", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.target_agent }}", "rightValue": "support", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "warranty", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.target_agent }}", "rightValue": "warranty", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "complaint", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.target_agent }}", "rightValue": "complaint", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "escalation", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.target_agent }}", "rightValue": "escalation", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "agent_sales",
      "name": "5A_Sales_Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 200],
      "parameters": {
        "jsCode": "// ========================================\n// SALES AGENT\n// ========================================\n\nconst input = $input.first().json;\nconst lang = input.language;\n\nconst products = [\n  { id: 'prod_001', name_ar: 'مرتبة يانسن أورثوبيديك', name_en: 'Janssen Orthopedic', price: 12500, warranty: 10 },\n  { id: 'prod_002', name_ar: 'مرتبة يانسن ميموري فوم', name_en: 'Janssen Memory Foam', price: 15000, warranty: 12 },\n  { id: 'prod_003', name_ar: 'مرتبة يانسن سوبر سوفت', name_en: 'Janssen Super Soft', price: 10000, warranty: 8 }\n];\n\nlet responseText = '';\nlet responseType = 'text';\nlet productCard = null;\n\nif (input.intent === 'SALES_PRICE') {\n  responseText = lang === 'ar'\n    ? `تمام! أسعار المراتب عندنا بتبدأ من ${products[2].price.toLocaleString()} جنيه.\\n\\nعندنا موديلات مختلفة:\\n• ${products[0].name_ar}: ${products[0].price.toLocaleString()} جنيه (ضمان ${products[0].warranty} سنين)\\n• ${products[1].name_ar}: ${products[1].price.toLocaleString()} جنيه (ضمان ${products[1].warranty} سنة)\\n• ${products[2].name_ar}: ${products[2].price.toLocaleString()} جنيه (ضمان ${products[2].warranty} سنين)\\n\\nعايز تعرف تفاصيل أكتر عن موديل معين؟`\n    : `Great! Our mattress prices start from ${products[2].price.toLocaleString()} EGP.\\n\\nWe have different models:\\n• ${products[0].name_en}: ${products[0].price.toLocaleString()} EGP (${products[0].warranty}-year warranty)\\n• ${products[1].name_en}: ${products[1].price.toLocaleString()} EGP (${products[1].warranty}-year warranty)\\n• ${products[2].name_en}: ${products[2].price.toLocaleString()} EGP (${products[2].warranty}-year warranty)\\n\\nWould you like more details about a specific model?`;\n} else {\n  responseText = lang === 'ar'\n    ? 'أهلاً! أنا هنا أساعدك تختار المرتبة المناسبة ليك. عايز تعرف عن الأسعار ولا عايز نصيحة؟'\n    : \"Hello! I'm here to help you choose the right mattress. Would you like to know about prices or get a recommendation?\";\n  responseType = 'product_card';\n  productCard = {\n    id: products[0].id,\n    name: lang === 'ar' ? products[0].name_ar : products[0].name_en,\n    description: lang === 'ar' ? 'مرتبة طبية عالية الجودة' : 'Premium orthopedic mattress',\n    price: `${products[0].price.toLocaleString()} EGP`,\n    warranty: `${products[0].warranty} ${lang === 'ar' ? 'سنين' : 'years'}`\n  };\n}\n\nreturn {\n  json: {\n    ...input,\n    response_text: responseText,\n    response_type: responseType,\n    product_card: productCard,\n    escalated: false,\n    next_action: 'await_response'\n  }\n};"
      }
    },
    {
      "id": "agent_support",
      "name": "5B_Support_Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 400],
      "parameters": {
        "jsCode": "// ========================================\n// SUPPORT AGENT\n// ========================================\n\nconst input = $input.first().json;\nconst lang = input.language;\n\nlet responseText = '';\n\nif (input.intent === 'DELIVERY') {\n  responseText = lang === 'ar'\n    ? 'بخصوص التوصيل:\\n\\n• القاهرة والجيزة: 2-3 أيام عمل\\n• الإسكندرية: 3-5 أيام عمل\\n• باقي المحافظات: 5-7 أيام عمل\\n\\nالتوصيل مجاني للطلبات فوق 5000 جنيه.\\n\\nإنت فين بالظبط علشان أقولك المدة المتوقعة؟'\n    : 'Regarding delivery:\\n\\n• Cairo & Giza: 2-3 business days\\n• Alexandria: 3-5 business days\\n• Other governorates: 5-7 business days\\n\\nFree delivery for orders above 5000 EGP.\\n\\nWhere are you located?';\n} else if (input.intent === 'STORE_INFO') {\n  responseText = lang === 'ar'\n    ? 'عندنا فروع في:\\n\\n• فرع مدينة نصر: شارع عباس العقاد\\n• فرع المهندسين: شارع جامعة الدول العربية\\n\\nمواعيد العمل: من 9 صباحاً لـ 9 مساءً\\n\\nعايز عنوان فرع معين؟'\n    : 'We have branches in:\\n\\n• Nasr City: Abbas El-Akkad St.\\n• Mohandessin: Arab League St.\\n\\nWorking hours: 9 AM to 9 PM\\n\\nWould you like a specific branch address?';\n} else {\n  responseText = lang === 'ar'\n    ? 'أهلاً! أنا هنا أساعدك. ممكن أفيدك في:\\n• معلومات عن التوصيل\\n• فروعنا ومواعيد العمل\\n• أي استفسار عام\\n\\nاتفضل اسألني!'\n    : \"Hello! I'm here to help. I can assist you with:\\n• Delivery information\\n• Branch locations\\n• General inquiries\\n\\nPlease ask!\";\n}\n\nreturn {\n  json: {\n    ...input,\n    response_text: responseText,\n    response_type: 'text',\n    escalated: false,\n    next_action: 'await_response'\n  }\n};"
      }
    },
    {
      "id": "agent_warranty",
      "name": "5C_Warranty_Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 600],
      "parameters": {
        "jsCode": "// ========================================\n// WARRANTY AGENT\n// ========================================\n\nconst input = $input.first().json;\nconst lang = input.language;\nconst msg = input.user_message;\n\nlet responseText = '';\nlet escalated = false;\nlet nextAction = 'await_response';\nlet escalationQueue = null;\nlet escalationPriority = null;\n\nconst claimKeywords = lang === 'ar' ? ['طلب', 'استبدال', 'تصليح'] : ['claim', 'replace', 'repair'];\nconst needsClaim = claimKeywords.some(k => msg.includes(k));\n\nif (needsClaim) {\n  responseText = lang === 'ar'\n    ? 'تمام، هساعدك في موضوع الضمان. علشان نقدر نفتحلك طلب، هحتاج منك:\\n\\n1. رقم الفاتورة\\n2. تاريخ الشراء\\n3. وصف المشكلة\\n\\nلو معاك البيانات دي، هحولك لقسم الضمان.'\n    : \"Sure, I'll help you with the warranty. To file a claim, I'll need:\\n\\n1. Invoice number\\n2. Purchase date\\n3. Description of the issue\\n\\nI'll connect you with our warranty department.\";\n  escalated = true;\n  nextAction = 'transfer_to_human';\n  escalationQueue = 'warranty_queue';\n  escalationPriority = 'high';\n} else {\n  responseText = lang === 'ar'\n    ? 'ضمان يانسن 10 سنين وبيغطي:\\n\\n✅ عيوب الصناعة\\n✅ تهالك السوست\\n✅ انخفاض المرتبة أكتر من 3 سم\\n\\n❌ الضمان مش بيشمل: سوء الاستخدام، البقع، الحرق\\n\\nمحتاج مساعدة في تفعيل الضمان ولا عندك مشكلة في المنتج؟'\n    : 'Janssen warranty is 10 years and covers:\\n\\n✅ Manufacturing defects\\n✅ Spring deterioration\\n✅ Sagging more than 3cm\\n\\n❌ Excludes: Misuse, stains, burns\\n\\nDo you need help activating warranty or have an issue?';\n}\n\nreturn {\n  json: {\n    ...input,\n    response_text: responseText,\n    response_type: escalated ? 'handover' : 'text',\n    escalated: escalated,\n    next_action: nextAction,\n    escalation_queue: escalationQueue,\n    escalation_priority: escalationPriority\n  }\n};"
      }
    },
    {
      "id": "agent_complaint",
      "name": "5D_Complaint_Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 800],
      "parameters": {
        "jsCode": "// ========================================\n// COMPLAINT AGENT\n// ========================================\n\nconst input = $input.first().json;\nconst lang = input.language;\n\nconst responseText = lang === 'ar'\n  ? 'معلش جداً على اللي حصل. فاهم زعلك تماماً.\\n\\nعلشان أقدر أساعدك، ممكن تقولي:\\n1. إيه اللي حصل بالظبط؟\\n2. امتى ده حصل؟\\n3. رقم الفاتورة لو معاك؟\\n\\nكل المعلومات دي هتساعدني أحل الموضوع معاك.'\n  : \"I'm truly sorry about what happened. I completely understand your frustration.\\n\\nTo help you, could you tell me:\\n1. What exactly happened?\\n2. When did this occur?\\n3. Your invoice number if available?\\n\\nThis will help me resolve this for you.\";\n\nreturn {\n  json: {\n    ...input,\n    response_text: responseText,\n    response_type: 'text',\n    escalated: true,\n    next_action: 'transfer_to_human',\n    escalation_queue: 'complaints_queue',\n    escalation_priority: 'high'\n  }\n};"
      }
    },
    {
      "id": "agent_escalation",
      "name": "5E_Escalation_Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 1000],
      "parameters": {
        "jsCode": "// ========================================\n// ESCALATION AGENT\n// ========================================\n\nconst input = $input.first().json;\nconst lang = input.language;\n\nlet priority = 'normal';\nlet queue = 'support_queue';\n\nif (input.intent === 'LEGAL_THREAT') {\n  priority = 'critical';\n  queue = 'priority_queue';\n}\n\nconst responseText = lang === 'ar'\n  ? 'هحولك دلوقتي لأحد موظفين خدمة العملاء اللي هيقدر يساعدك أكتر. استنى لحظة من فضلك.'\n  : \"I'm connecting you now to one of our customer service representatives. Please hold.\";\n\nreturn {\n  json: {\n    ...input,\n    response_text: responseText,\n    response_type: 'handover',\n    escalated: true,\n    next_action: 'transfer_to_human',\n    escalation_queue: queue,\n    escalation_priority: priority\n  }\n};"
      }
    },
    {
      "id": "merge_responses",
      "name": "6_Merge_Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1450, 500],
      "parameters": {
        "mode": "chooseBranch",
        "output": "input1"
      }
    },
    {
      "id": "format_output",
      "name": "7_Format_Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 500],
      "parameters": {
        "jsCode": "// ========================================\n// NODE 7: FORMAT OUTPUT\n// ========================================\n\nconst input = $input.first().json;\n\nlet responseText = input.response_text || '';\n\n// Channel-specific formatting\nif (input.channel === 'voice') {\n  responseText = responseText.replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '').replace(/\\n+/g, '. ');\n  if (responseText.length > 200) responseText = responseText.substring(0, 197) + '...';\n} else if (input.channel === 'chat') {\n  responseText = responseText.replace(/\\n/g, '<br>');\n}\n\nconst response = {\n  response_type: input.response_type || 'text',\n  content: { text: responseText },\n  next_action: input.next_action || 'await_response',\n  agent_used: input.target_agent,\n  intent: input.intent,\n  confidence_score: input.confidence,\n  session_id: input.session_id,\n  language: input.language,\n  channel: input.channel,\n  matched_keywords: input.matched_keywords\n};\n\nif (input.product_card) {\n  response.content.product = input.product_card;\n}\n\nif (input.escalated) {\n  response.escalation = {\n    queue: input.escalation_queue,\n    priority: input.escalation_priority,\n    reason: input.intent === 'LEGAL_THREAT' ? 'legal_threat' : 'agent_request'\n  };\n}\n\nreturn { json: response };"
      }
    },
    {
      "id": "log_interaction",
      "name": "8_Log_Interaction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 500],
      "parameters": {
        "jsCode": "// ========================================\n// NODE 8: LOG & RETURN\n// ========================================\n\nconst response = $input.first().json;\n\nconsole.log('[JANSSEN_AI_LOG]', JSON.stringify({\n  session_id: response.session_id,\n  agent: response.agent_used,\n  intent: response.intent,\n  confidence: response.confidence_score,\n  escalated: !!response.escalation,\n  timestamp: new Date().toISOString()\n}));\n\nreturn { json: response };"
      }
    },
    {
      "id": "respond_webhook",
      "name": "9_Return_Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 500],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "1_Webhook_Receive": {
      "main": [[{ "node": "2_Normalize_Input", "type": "main", "index": 0 }]]
    },
    "2_Normalize_Input": {
      "main": [[{ "node": "3_Detect_Intent", "type": "main", "index": 0 }]]
    },
    "3_Detect_Intent": {
      "main": [[{ "node": "4_Agent_Router", "type": "main", "index": 0 }]]
    },
    "4_Agent_Router": {
      "main": [
        [{ "node": "5A_Sales_Agent", "type": "main", "index": 0 }],
        [{ "node": "5B_Support_Agent", "type": "main", "index": 0 }],
        [{ "node": "5C_Warranty_Agent", "type": "main", "index": 0 }],
        [{ "node": "5D_Complaint_Agent", "type": "main", "index": 0 }],
        [{ "node": "5E_Escalation_Agent", "type": "main", "index": 0 }],
        [{ "node": "5B_Support_Agent", "type": "main", "index": 0 }]
      ]
    },
    "5A_Sales_Agent": {
      "main": [[{ "node": "6_Merge_Responses", "type": "main", "index": 0 }]]
    },
    "5B_Support_Agent": {
      "main": [[{ "node": "6_Merge_Responses", "type": "main", "index": 0 }]]
    },
    "5C_Warranty_Agent": {
      "main": [[{ "node": "6_Merge_Responses", "type": "main", "index": 0 }]]
    },
    "5D_Complaint_Agent": {
      "main": [[{ "node": "6_Merge_Responses", "type": "main", "index": 0 }]]
    },
    "5E_Escalation_Agent": {
      "main": [[{ "node": "6_Merge_Responses", "type": "main", "index": 0 }]]
    },
    "6_Merge_Responses": {
      "main": [[{ "node": "7_Format_Output", "type": "main", "index": 0 }]]
    },
    "7_Format_Output": {
      "main": [[{ "node": "8_Log_Interaction", "type": "main", "index": 0 }]]
    },
    "8_Log_Interaction": {
      "main": [[{ "node": "9_Return_Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [
    { "name": "janssen-ai" },
    { "name": "full-flow" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "version": "2.0.0"
  }
}
