janssen-ai/n8n/janssen-ai-with-openai.json
{
  "name": "Janssen_AI_With_OpenAI",
  "nodes": [
    {
      "id": "webhook_in",
      "name": "1_Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "parameters": {
        "path": "janssen-ai-incoming",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "normalize",
      "name": "2_Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [350, 400],
      "parameters": {
        "jsCode": "const rawInput = $input.first().json;\nconst body = rawInput.body || rawInput;\n\nfunction containsArabic(text) {\n  return /[\\u0600-\\u06FF]/.test(text);\n}\n\nconst userMessage = (body.user_message || body.message || '').trim();\nconst sessionId = body.session_id || 'session_' + Date.now();\nconst channel = body.channel || 'chat';\n\nlet language = body.language;\nif (!language) language = containsArabic(userMessage) ? 'ar' : 'en';\n\nreturn {\n  json: {\n    user_message: userMessage,\n    session_id: sessionId,\n    channel: channel,\n    language: language,\n    timestamp: new Date().toISOString()\n  }\n};"
      }
    },
    {
      "id": "detect_intent",
      "name": "3_Detect_Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst msg = input.user_message;\nconst lang = input.language;\n\nconst intents = [\n  { intent: 'LEGAL_THREAT', agent: 'escalation', ar: ['محامي', 'قانون', 'شرطة', 'هنشر', 'فيسبوك'], en: ['lawyer', 'legal', 'police', 'facebook'] },\n  { intent: 'COMPLAINT', agent: 'complaint', ar: ['شكوى', 'مشكلة', 'زعلان', 'مش راضي', 'استرجاع'], en: ['complaint', 'problem', 'angry', 'refund'] },\n  { intent: 'HUMAN_REQUEST', agent: 'escalation', ar: ['موظف', 'خدمة عملاء', 'مدير'], en: ['human', 'customer service', 'manager'] },\n  { intent: 'WARRANTY', agent: 'warranty', ar: ['ضمان', 'تصليح', 'صيانة'], en: ['warranty', 'repair', 'maintenance'] },\n  { intent: 'SALES_PRICE', agent: 'sales', ar: ['سعر', 'بكام', 'كام', 'عروض', 'خصم'], en: ['price', 'cost', 'how much', 'discount'] },\n  { intent: 'SALES_REC', agent: 'sales', ar: ['عايز اشتري', 'مرتبة', 'انصحني', 'افضل'], en: ['buy', 'mattress', 'recommend', 'best'] },\n  { intent: 'DELIVERY', agent: 'support', ar: ['توصيل', 'شحن', 'يوصل امتى'], en: ['delivery', 'shipping', 'arrive'] },\n  { intent: 'STORE_INFO', agent: 'support', ar: ['فرع', 'عنوان', 'مواعيد'], en: ['store', 'address', 'hours', 'branch'] }\n];\n\nlet detected = { intent: 'GENERAL', agent: 'support', confidence: 0.5, matched: [], use_ai: true };\n\nfor (const def of intents) {\n  const keywords = lang === 'ar' ? def.ar : def.en;\n  const matches = keywords.filter(k => msg.includes(k));\n  if (matches.length > 0) {\n    detected = { intent: def.intent, agent: def.agent, confidence: 0.8, matched: matches, use_ai: false };\n    break;\n  }\n}\n\nreturn { json: { ...input, ...detected } };"
      }
    },
    {
      "id": "router",
      "name": "4_Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 400],
      "parameters": {
        "rules": {
          "values": [
            { "outputKey": "openai", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.use_ai }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }] } },
            { "outputKey": "sales", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.agent }}", "rightValue": "sales", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "support", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.agent }}", "rightValue": "support", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "warranty", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.agent }}", "rightValue": "warranty", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "complaint", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.agent }}", "rightValue": "complaint", "operator": { "type": "string", "operation": "equals" } }] } },
            { "outputKey": "escalation", "conditions": { "options": { "version": 2 }, "combinator": "and", "conditions": [{ "leftValue": "={{ $json.agent }}", "rightValue": "escalation", "operator": { "type": "string", "operation": "equals" } }] } }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "openai_chat",
      "name": "5_OpenAI_Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1150, 100],
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are Janssen AI, a helpful customer service assistant for Janssen Mattresses in Egypt.\n\nCompany Info:\n- Janssen makes premium mattresses since 1955\n- 10-year warranty on all products\n- Prices: Orthopedic (12,500 EGP), Memory Foam (15,000 EGP), Super Soft (10,000 EGP)\n- Delivery: Cairo 2-3 days, Alexandria 3-5 days, Others 5-7 days\n- Free delivery over 5,000 EGP\n- Branches: Nasr City (Abbas El-Akkad), Mohandessin (Arab League St)\n- Hours: 9 AM - 9 PM\n\nRules:\n- Respond in the same language as the user (Arabic or English)\n- Be helpful, friendly, and professional\n- For complaints or legal issues, suggest connecting to human support\n- Keep responses concise (2-3 sentences max)"
            },
            {
              "role": "user",
              "content": "={{ $json.user_message }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 300
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "format_openai",
      "name": "6_Format_OpenAI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 100],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prevData = $('3_Detect_Intent').first().json;\n\n// n8n LangChain OpenAI node returns response in 'text' property\nlet text = input.text || input.output || input.message?.content || input.choices?.[0]?.message?.content || 'Sorry, I could not process that.';\n\nif (prevData.channel === 'chat') text = text.replace(/\\n/g, '<br>');\n\nreturn { json: {\n  response_type: 'text',\n  content: { text },\n  next_action: 'await_response',\n  agent_used: 'openai',\n  intent: prevData.intent,\n  confidence_score: 0.9,\n  session_id: prevData.session_id,\n  language: prevData.language,\n  channel: prevData.channel,\n  matched_keywords: []\n}};"
      }
    },
    {
      "id": "agent_sales",
      "name": "5A_Sales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 300],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lang = input.language;\n\nconst products = [\n  { name_ar: 'يانسن أورثوبيديك', name_en: 'Janssen Orthopedic', price: 12500, warranty: 10 },\n  { name_ar: 'يانسن ميموري فوم', name_en: 'Janssen Memory Foam', price: 15000, warranty: 12 },\n  { name_ar: 'يانسن سوبر سوفت', name_en: 'Janssen Super Soft', price: 10000, warranty: 8 }\n];\n\nlet text = '';\nif (input.intent === 'SALES_PRICE') {\n  text = lang === 'ar'\n    ? `أسعار المراتب:\\n• ${products[0].name_ar}: ${products[0].price} جنيه\\n• ${products[1].name_ar}: ${products[1].price} جنيه\\n• ${products[2].name_ar}: ${products[2].price} جنيه`\n    : `Mattress prices:\\n• ${products[0].name_en}: ${products[0].price} EGP\\n• ${products[1].name_en}: ${products[1].price} EGP\\n• ${products[2].name_en}: ${products[2].price} EGP`;\n} else {\n  text = lang === 'ar' ? 'أهلاً! أنا هنا أساعدك تختار المرتبة. عايز تعرف الأسعار؟' : \"Hello! I'm here to help you choose. Want to know prices?\";\n}\n\nreturn { json: { ...input, response_text: text, response_type: 'text', escalated: false, next_action: 'await_response' } };"
      }
    },
    {
      "id": "agent_support",
      "name": "5B_Support",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 500],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lang = input.language;\n\nlet text = '';\nif (input.intent === 'DELIVERY') {\n  text = lang === 'ar'\n    ? 'التوصيل:\\n• القاهرة: 2-3 أيام\\n• الإسكندرية: 3-5 أيام\\n• المحافظات: 5-7 أيام\\n\\nمجاني للطلبات فوق 5000 جنيه'\n    : 'Delivery:\\n• Cairo: 2-3 days\\n• Alexandria: 3-5 days\\n• Other: 5-7 days\\n\\nFree for orders above 5000 EGP';\n} else if (input.intent === 'STORE_INFO') {\n  text = lang === 'ar'\n    ? 'فروعنا:\\n• مدينة نصر: شارع عباس العقاد\\n• المهندسين: شارع جامعة الدول\\n\\nمن 9 صباحاً لـ 9 مساءً'\n    : 'Branches:\\n• Nasr City: Abbas El-Akkad St.\\n• Mohandessin: Arab League St.\\n\\n9 AM to 9 PM';\n} else {\n  text = lang === 'ar' ? 'أهلاً! إزاي أقدر أساعدك؟' : 'Hello! How can I help you?';\n}\n\nreturn { json: { ...input, response_text: text, response_type: 'text', escalated: false, next_action: 'await_response' } };"
      }
    },
    {
      "id": "agent_warranty",
      "name": "5C_Warranty",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 700],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lang = input.language;\n\nconst text = lang === 'ar'\n  ? 'ضمان يانسن 10 سنين:\\n✅ عيوب الصناعة\\n✅ تهالك السوست\\n✅ انخفاض المرتبة > 3 سم\\n\\n❌ مش بيشمل: سوء الاستخدام، البقع'\n  : 'Janssen 10-year warranty:\\n✅ Manufacturing defects\\n✅ Spring deterioration\\n✅ Sagging > 3cm\\n\\n❌ Excludes: Misuse, stains';\n\nreturn { json: { ...input, response_text: text, response_type: 'text', escalated: false, next_action: 'await_response' } };"
      }
    },
    {
      "id": "agent_complaint",
      "name": "5D_Complaint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 900],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lang = input.language;\n\nconst text = lang === 'ar'\n  ? 'معلش جداً على اللي حصل. علشان أساعدك:\\n1. إيه اللي حصل؟\\n2. امتى؟\\n3. رقم الفاتورة؟\\n\\nهحولك لقسم الشكاوى.'\n  : \"I'm sorry about what happened. To help:\\n1. What happened?\\n2. When?\\n3. Invoice number?\\n\\nConnecting you to complaints.\";\n\nreturn { json: { ...input, response_text: text, response_type: 'handover', escalated: true, next_action: 'transfer_to_human', escalation_queue: 'complaints' } };"
      }
    },
    {
      "id": "agent_escalation",
      "name": "5E_Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1150, 1100],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lang = input.language;\n\nconst text = lang === 'ar'\n  ? 'هحولك دلوقتي لأحد موظفين خدمة العملاء. استنى لحظة.'\n  : \"Connecting you to a customer service representative. Please hold.\";\n\nconst priority = input.intent === 'LEGAL_THREAT' ? 'critical' : 'normal';\n\nreturn { json: { ...input, response_text: text, response_type: 'handover', escalated: true, next_action: 'transfer_to_human', escalation_queue: 'priority', escalation_priority: priority } };"
      }
    },
    {
      "id": "respond_openai",
      "name": "7_Respond_OpenAI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 100],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "format_sales",
      "name": "6A_Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 300],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet text = i.response_text;\nif (i.channel === 'chat') text = text.replace(/\\n/g, '<br>');\n\nreturn { json: {\n  response_type: i.response_type,\n  content: { text },\n  next_action: i.next_action,\n  agent_used: i.agent,\n  intent: i.intent,\n  confidence_score: i.confidence,\n  session_id: i.session_id,\n  language: i.language,\n  channel: i.channel,\n  matched_keywords: i.matched\n}};"
      }
    },
    {
      "id": "format_support",
      "name": "6B_Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet text = i.response_text;\nif (i.channel === 'chat') text = text.replace(/\\n/g, '<br>');\n\nreturn { json: {\n  response_type: i.response_type,\n  content: { text },\n  next_action: i.next_action,\n  agent_used: i.agent,\n  intent: i.intent,\n  confidence_score: i.confidence,\n  session_id: i.session_id,\n  language: i.language,\n  channel: i.channel,\n  matched_keywords: i.matched\n}};"
      }
    },
    {
      "id": "format_warranty",
      "name": "6C_Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 700],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet text = i.response_text;\nif (i.channel === 'chat') text = text.replace(/\\n/g, '<br>');\n\nreturn { json: {\n  response_type: i.response_type,\n  content: { text },\n  next_action: i.next_action,\n  agent_used: i.agent,\n  intent: i.intent,\n  confidence_score: i.confidence,\n  session_id: i.session_id,\n  language: i.language,\n  channel: i.channel,\n  matched_keywords: i.matched\n}};"
      }
    },
    {
      "id": "format_complaint",
      "name": "6D_Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 900],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet text = i.response_text;\nif (i.channel === 'chat') text = text.replace(/\\n/g, '<br>');\nconst content = { text, handover_message: text };\nreturn { json: {\n  response_type: i.response_type,\n  content,\n  next_action: i.next_action,\n  agent_used: i.agent,\n  intent: i.intent,\n  confidence_score: i.confidence,\n  session_id: i.session_id,\n  language: i.language,\n  channel: i.channel,\n  matched_keywords: i.matched,\n  escalation: { queue: i.escalation_queue, priority: 'high' }\n}};"
      }
    },
    {
      "id": "format_escalation",
      "name": "6E_Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 1100],
      "parameters": {
        "jsCode": "const i = $input.first().json;\nlet text = i.response_text;\nif (i.channel === 'chat') text = text.replace(/\\n/g, '<br>');\nconst content = { text, handover_message: text };\nreturn { json: {\n  response_type: i.response_type,\n  content,\n  next_action: i.next_action,\n  agent_used: i.agent,\n  intent: i.intent,\n  confidence_score: i.confidence,\n  session_id: i.session_id,\n  language: i.language,\n  channel: i.channel,\n  matched_keywords: i.matched,\n  escalation: { queue: i.escalation_queue, priority: i.escalation_priority }\n}};"
      }
    },
    {
      "id": "respond_sales",
      "name": "7A_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 300],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond_support",
      "name": "7B_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 500],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond_warranty",
      "name": "7C_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 700],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond_complaint",
      "name": "7D_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 900],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond_escalation",
      "name": "7E_Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1650, 1100],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    },
    {
      "id": "respond_fallback",
      "name": "7F_Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1150, 1300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response_type: 'text', content: { text: $json.language === 'ar' ? 'أهلاً! إزاي أقدر أساعدك؟' : 'Hello! How can I help?' }, next_action: 'await_response', agent_used: 'support', intent: 'GENERAL', confidence_score: 0.5, session_id: $json.session_id, language: $json.language, channel: $json.channel, matched_keywords: [] } }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "1_Webhook": {
      "main": [[{ "node": "2_Normalize", "type": "main", "index": 0 }]]
    },
    "2_Normalize": {
      "main": [[{ "node": "3_Detect_Intent", "type": "main", "index": 0 }]]
    },
    "3_Detect_Intent": {
      "main": [[{ "node": "4_Router", "type": "main", "index": 0 }]]
    },
    "4_Router": {
      "main": [
        [{ "node": "5_OpenAI_Chat", "type": "main", "index": 0 }],
        [{ "node": "5A_Sales", "type": "main", "index": 0 }],
        [{ "node": "5B_Support", "type": "main", "index": 0 }],
        [{ "node": "5C_Warranty", "type": "main", "index": 0 }],
        [{ "node": "5D_Complaint", "type": "main", "index": 0 }],
        [{ "node": "5E_Escalation", "type": "main", "index": 0 }],
        [{ "node": "7F_Fallback", "type": "main", "index": 0 }]
      ]
    },
    "5_OpenAI_Chat": {
      "main": [[{ "node": "6_Format_OpenAI", "type": "main", "index": 0 }]]
    },
    "6_Format_OpenAI": {
      "main": [[{ "node": "7_Respond_OpenAI", "type": "main", "index": 0 }]]
    },
    "5A_Sales": {
      "main": [[{ "node": "6A_Format", "type": "main", "index": 0 }]]
    },
    "5B_Support": {
      "main": [[{ "node": "6B_Format", "type": "main", "index": 0 }]]
    },
    "5C_Warranty": {
      "main": [[{ "node": "6C_Format", "type": "main", "index": 0 }]]
    },
    "5D_Complaint": {
      "main": [[{ "node": "6D_Format", "type": "main", "index": 0 }]]
    },
    "5E_Escalation": {
      "main": [[{ "node": "6E_Format", "type": "main", "index": 0 }]]
    },
    "6A_Format": {
      "main": [[{ "node": "7A_Respond", "type": "main", "index": 0 }]]
    },
    "6B_Format": {
      "main": [[{ "node": "7B_Respond", "type": "main", "index": 0 }]]
    },
    "6C_Format": {
      "main": [[{ "node": "7C_Respond", "type": "main", "index": 0 }]]
    },
    "6D_Format": {
      "main": [[{ "node": "7D_Respond", "type": "main", "index": 0 }]]
    },
    "6E_Format": {
      "main": [[{ "node": "7E_Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "janssen-ai" }, { "name": "openai" }, { "name": "chat" }],
  "meta": { "version": "3.0.0", "description": "Chat workflow with OpenAI fallback. Response schema: response_type, content.text, content.handover_message for escalation." }
}
