janssen-ai/n8n/janssen-ai-production.json
{
  "name": "Janssen_AI_Production",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook_In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "path": "janssen-ai-incoming",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "process_all",
      "name": "Process_Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 400],
      "parameters": {
        "jsCode": "// ============================================\n// JANSSEN AI - FULL PROCESSING ENGINE\n// ============================================\n\nconst rawInput = $input.first().json;\nconst body = rawInput.body || rawInput;\n\n// ============================================\n// STEP 1: NORMALIZE INPUT\n// ============================================\n\nfunction containsArabic(text) {\n  return /[\\u0600-\\u06FF\\u0750-\\u077F\\u08A0-\\u08FF]/.test(text);\n}\n\nfunction normalizeArabic(text) {\n  return text\n    .replace(/[\\u064B-\\u065F\\u0670]/g, '')\n    .replace(/[\\u0622\\u0623\\u0625]/g, '\\u0627')\n    .replace(/[\\u0649]/g, '\\u064A')\n    .replace(/[\\u0629]/g, '\\u0647');\n}\n\nconst sessionId = body.session_id || 'session_' + Date.now();\nconst channel = ['chat', 'voice', 'whatsapp'].includes(body.channel) ? body.channel : 'chat';\nconst userMessage = (body.user_message || body.message || '').trim();\nconst phone = body.phone || null;\nconst metadata = body.metadata || {};\n\nlet language = body.language;\nif (!language || !['ar', 'en'].includes(language)) {\n  language = containsArabic(userMessage) ? 'ar' : 'en';\n}\n\nconst conversationTurn = (metadata.conversation_turn || 0) + 1;\n\n// ============================================\n// STEP 2: DETECT INTENT\n// ============================================\n\nconst intents = [\n  {\n    intent: 'COMPLAINT', agent: 'complaint',\n    ar: ['شكوى', 'مشكلة', 'زعلان', 'مش راضي', 'سيء', 'وحش', 'عايز فلوسي', 'استرجاع', 'غلط', 'كذب', 'نصب'],\n    en: ['complaint', 'problem', 'angry', 'not satisfied', 'bad', 'terrible', 'refund', 'return', 'wrong', 'lied', 'scam']\n  },\n  {\n    intent: 'HUMAN_REQUEST', agent: 'escalation',\n    ar: ['عايز اتكلم مع حد', 'موظف', 'خدمة عملاء', 'بني آدم', 'مدير', 'مسؤول'],\n    en: ['talk to someone', 'human', 'customer service', 'real person', 'manager', 'supervisor']\n  },\n  {\n    intent: 'WARRANTY', agent: 'warranty',\n    ar: ['ضمان', 'تفعيل الضمان', 'شهادة ضمان', 'تصليح', 'صيانة', 'عيب صناعة'],\n    en: ['warranty', 'guarantee', 'repair', 'maintenance', 'defect']\n  },\n  {\n    intent: 'SALES_PRICE', agent: 'sales',\n    ar: ['سعر', 'بكام', 'كام', 'تكلفة', 'عروض', 'خصم', 'تقسيط', 'اسعار'],\n    en: ['price', 'cost', 'how much', 'offers', 'discount', 'installment']\n  },\n  {\n    intent: 'SALES_RECOMMENDATION', agent: 'sales',\n    ar: ['عايز اشتري', 'عايز مرتبة', 'انصحني', 'افضل', 'اختار', 'مقاسات', 'انواع', 'منتجات'],\n    en: ['buy', 'purchase', 'recommend', 'suggest', 'best', 'sizes', 'types', 'mattress']\n  },\n  {\n    intent: 'DELIVERY', agent: 'support',\n    ar: ['توصيل', 'شحن', 'يوصل امتى', 'مدة التوصيل'],\n    en: ['delivery', 'shipping', 'when arrive', 'delivery time']\n  },\n  {\n    intent: 'STORE_INFO', agent: 'support',\n    ar: ['فين الفرع', 'عنوان', 'مواعيد', 'رقم التليفون', 'فروع'],\n    en: ['store', 'address', 'hours', 'phone', 'branches']\n  }\n];\n\nlet detectedIntent = 'GENERAL_SUPPORT';\nlet targetAgent = 'support';\nlet confidence = 0.5;\nlet matchedKeywords = [];\n\nfor (const def of intents) {\n  const keywords = language === 'ar' ? def.ar : def.en;\n  const matches = keywords.filter(k => userMessage.includes(k));\n  if (matches.length > 0) {\n    detectedIntent = def.intent;\n    targetAgent = def.agent;\n    confidence = Math.min(0.95, 0.5 + (matches.length * 0.15));\n    matchedKeywords = matches;\n    break;\n  }\n}\n\n// Check for immediate escalation triggers\nconst legalKeywords = language === 'ar' ? ['محامي', 'قانون', 'شرطة', 'نيابة'] : ['lawyer', 'legal', 'police', 'court'];\nconst mediaKeywords = language === 'ar' ? ['هنشر', 'فيسبوك', 'سوشيال'] : ['post', 'facebook', 'social media'];\n\nlet forceEscalation = false;\nlet escalationReason = null;\n\nfor (const kw of [...legalKeywords, ...mediaKeywords]) {\n  if (userMessage.includes(kw)) {\n    forceEscalation = true;\n    escalationReason = legalKeywords.includes(kw) ? 'legal_threat' : 'media_threat';\n    detectedIntent = 'HUMAN_REQUEST';\n    targetAgent = 'escalation';\n    confidence = 1.0;\n    matchedKeywords = [kw];\n    break;\n  }\n}\n\n// ============================================\n// STEP 3: GENERATE RESPONSE\n// ============================================\n\n// Knowledge base\nconst products = [\n  { id: 'prod_001', name_ar: 'مرتبة يانسن أورثوبيديك', name_en: 'Janssen Orthopedic', price: 12500, warranty: 10 },\n  { id: 'prod_002', name_ar: 'مرتبة يانسن ميموري فوم', name_en: 'Janssen Memory Foam', price: 15000, warranty: 12 },\n  { id: 'prod_003', name_ar: 'مرتبة يانسن سوبر سوفت', name_en: 'Janssen Super Soft', price: 10000, warranty: 8 }\n];\n\nlet responseText = '';\nlet responseType = 'text';\nlet nextAction = 'await_response';\nlet escalated = false;\nlet escalationQueue = null;\nlet escalationPriority = null;\nlet productCard = null;\n\n// Check if immediate escalation needed\nif (targetAgent === 'escalation' || forceEscalation) {\n  responseText = language === 'ar'\n    ? 'هحولك دلوقتي لأحد موظفين خدمة العملاء اللي هيقدر يساعدك أكتر. استنى لحظة من فضلك.'\n    : \"I'm connecting you now to one of our customer service representatives. Please hold.\";\n  responseType = 'handover';\n  nextAction = 'transfer_to_human';\n  escalated = true;\n  escalationQueue = escalationReason === 'legal_threat' || escalationReason === 'media_threat' ? 'priority_queue' : 'support_queue';\n  escalationPriority = escalationReason ? 'critical' : 'normal';\n}\nelse {\n  switch (targetAgent) {\n    case 'sales':\n      if (detectedIntent === 'SALES_PRICE') {\n        responseText = language === 'ar'\n          ? `تمام! أسعار المراتب عندنا بتبدأ من ${products[2].price.toLocaleString()} جنيه.\\n\\nعندنا موديلات مختلفة:\\n• ${products[0].name_ar}: ${products[0].price.toLocaleString()} جنيه (ضمان ${products[0].warranty} سنين)\\n• ${products[1].name_ar}: ${products[1].price.toLocaleString()} جنيه (ضمان ${products[1].warranty} سنة)\\n• ${products[2].name_ar}: ${products[2].price.toLocaleString()} جنيه (ضمان ${products[2].warranty} سنين)\\n\\nعايز تعرف تفاصيل أكتر عن موديل معين؟`\n          : `Great! Our mattress prices start from ${products[2].price.toLocaleString()} EGP.\\n\\nWe have different models:\\n• ${products[0].name_en}: ${products[0].price.toLocaleString()} EGP (${products[0].warranty}-year warranty)\\n• ${products[1].name_en}: ${products[1].price.toLocaleString()} EGP (${products[1].warranty}-year warranty)\\n• ${products[2].name_en}: ${products[2].price.toLocaleString()} EGP (${products[2].warranty}-year warranty)\\n\\nWould you like more details about a specific model?`;\n      } else {\n        responseText = language === 'ar'\n          ? 'أهلاً! أنا هنا أساعدك تختار المرتبة المناسبة ليك. عايز تعرف عن الأسعار ولا عايز نصيحة؟'\n          : \"Hello! I'm here to help you choose the right mattress. Would you like to know about prices or get a recommendation?\";\n        responseType = 'product_card';\n        productCard = {\n          id: products[0].id,\n          name: language === 'ar' ? products[0].name_ar : products[0].name_en,\n          description: language === 'ar' ? 'مرتبة طبية عالية الجودة' : 'Premium orthopedic mattress',\n          price: `${products[0].price.toLocaleString()} EGP`,\n          warranty: `${products[0].warranty} ${language === 'ar' ? 'سنين' : 'years'}`,\n          url: '#'\n        };\n      }\n      break;\n\n    case 'support':\n      if (detectedIntent === 'DELIVERY') {\n        responseText = language === 'ar'\n          ? 'بخصوص التوصيل:\\n\\n• القاهرة والجيزة: 2-3 أيام عمل\\n• الإسكندرية: 3-5 أيام عمل\\n• باقي المحافظات: 5-7 أيام عمل\\n\\nالتوصيل مجاني للطلبات فوق 5000 جنيه.\\n\\nإنت فين بالظبط علشان أقولك المدة المتوقعة؟'\n          : 'Regarding delivery:\\n\\n• Cairo & Giza: 2-3 business days\\n• Alexandria: 3-5 business days\\n• Other governorates: 5-7 business days\\n\\nFree delivery for orders above 5000 EGP.\\n\\nWhere are you located?';\n      } else if (detectedIntent === 'STORE_INFO') {\n        responseText = language === 'ar'\n          ? 'عندنا فروع في:\\n\\n• فرع مدينة نصر: شارع عباس العقاد\\n• فرع المهندسين: شارع جامعة الدول العربية\\n\\nمواعيد العمل: من 9 صباحاً لـ 9 مساءً\\n\\nعايز عنوان فرع معين؟'\n          : 'We have branches in:\\n\\n• Nasr City: Abbas El-Akkad St.\\n• Mohandessin: Arab League St.\\n\\nWorking hours: 9 AM to 9 PM\\n\\nWould you like a specific branch address?';\n      } else {\n        responseText = language === 'ar'\n          ? 'أهلاً! أنا هنا أساعدك. ممكن أفيدك في:\\n• معلومات عن التوصيل\\n• فروعنا ومواعيد العمل\\n• أي استفسار عام\\n\\nاتفضل اسألني!'\n          : \"Hello! I'm here to help. I can assist you with:\\n• Delivery information\\n• Branch locations\\n• General inquiries\\n\\nPlease ask!\";\n      }\n      break;\n\n    case 'warranty':\n      if (userMessage.includes(language === 'ar' ? 'طلب' : 'claim') || userMessage.includes(language === 'ar' ? 'استبدال' : 'replace')) {\n        responseText = language === 'ar'\n          ? 'تمام، هساعدك في موضوع الضمان. علشان نقدر نفتحلك طلب، هحتاج منك:\\n\\n1. رقم الفاتورة\\n2. تاريخ الشراء\\n3. وصف المشكلة\\n\\nلو معاك البيانات دي، هحولك لقسم الضمان.'\n          : \"Sure, I'll help you with the warranty. To file a claim, I'll need:\\n\\n1. Invoice number\\n2. Purchase date\\n3. Description of the issue\\n\\nI'll connect you with our warranty department.\";\n        escalated = true;\n        nextAction = 'transfer_to_human';\n        escalationQueue = 'warranty_queue';\n        escalationPriority = 'high';\n        responseType = 'handover';\n      } else {\n        responseText = language === 'ar'\n          ? 'ضمان يانسن 10 سنين وبيغطي:\\n\\n✅ عيوب الصناعة\\n✅ تهالك السوست\\n✅ انخفاض المرتبة أكتر من 3 سم\\n\\n❌ الضمان مش بيشمل: سوء الاستخدام، البقع، الحرق\\n\\nمحتاج مساعدة في تفعيل الضمان ولا عندك مشكلة في المنتج؟'\n          : 'Janssen warranty is 10 years and covers:\\n\\n✅ Manufacturing defects\\n✅ Spring deterioration\\n✅ Sagging more than 3cm\\n\\n❌ Excludes: Misuse, stains, burns\\n\\nDo you need help activating warranty or have an issue?';\n      }\n      break;\n\n    case 'complaint':\n      responseText = language === 'ar'\n        ? 'معلش جداً على اللي حصل. فاهم زعلك تماماً.\\n\\nعلشان أقدر أساعدك، ممكن تقولي:\\n1. إيه اللي حصل بالظبط؟\\n2. امتى ده حصل؟\\n3. رقم الفاتورة لو معاك؟\\n\\nكل المعلومات دي هتساعدني أحل الموضوع معاك.'\n        : \"I'm truly sorry about what happened. I completely understand your frustration.\\n\\nTo help you, could you tell me:\\n1. What exactly happened?\\n2. When did this occur?\\n3. Your invoice number if available?\\n\\nThis will help me resolve this for you.\";\n      escalated = true;\n      nextAction = 'transfer_to_human';\n      escalationQueue = 'complaints_queue';\n      escalationPriority = 'high';\n      responseType = 'handover';\n      break;\n\n    default:\n      responseText = language === 'ar' ? 'أهلاً! إزاي أقدر أساعدك النهاردة؟' : 'Hello! How can I help you today?';\n  }\n}\n\n// ============================================\n// STEP 4: FORMAT OUTPUT\n// ============================================\n\n// Channel-specific formatting\nif (channel === 'voice') {\n  responseText = responseText.replace(/[\\u{1F300}-\\u{1F9FF}]/gu, '').replace(/\\n+/g, '. ');\n  if (responseText.length > 200) responseText = responseText.substring(0, 197) + '...';\n} else if (channel === 'chat') {\n  responseText = responseText.replace(/\\n/g, '<br>');\n}\n\nconst response = {\n  response_type: responseType,\n  content: { text: responseText },\n  next_action: nextAction,\n  agent_used: targetAgent,\n  intent: detectedIntent,\n  confidence_score: confidence,\n  session_id: sessionId,\n  language: language,\n  channel: channel,\n  matched_keywords: matchedKeywords\n};\n\nif (productCard) response.content.product = productCard;\n\nif (escalated) {\n  response.content.handover_message = responseText;\n  response.escalation = {\n    queue: escalationQueue,\n    priority: escalationPriority,\n    reason: escalationReason || 'agent_request'\n  };\n}\n\n// Log\nconsole.log('[JANSSEN_AI]', JSON.stringify({\n  session_id: sessionId,\n  agent: targetAgent,\n  intent: detectedIntent,\n  escalated: escalated,\n  timestamp: new Date().toISOString()\n}));\n\nreturn { json: response };"
      }
    },
    {
      "id": "respond",
      "name": "Return_Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 400],
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook_In": {
      "main": [[{ "node": "Process_Message", "type": "main", "index": 0 }]]
    },
    "Process_Message": {
      "main": [[{ "node": "Return_Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "tags": [
    { "name": "janssen-ai" },
    { "name": "production" }
  ],
  "meta": {
    "templateCredsSetupCompleted": true,
    "version": "1.0.0"
  }
}
